{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static 'photopage/js/js.js' %}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'first/css/csskurcach.css' %}">

</head>
<body>
    <div class="nav">
       <a href="{% url 'first_page' %}"><h1>Фото-Оценщик</h1></a>
        <a href="{% url 'photorate:photo_rate' %}">Оценить фото</a>
        <a href="{% url 'first_page' %}">О нас</a>
        <a href="#">{{ request.user.username }}</a>
        {% if user.is_authenticated %}
                <a href="{% url 'users:logout' %}">Выйти</a>
    <a id="a2"href="{% url 'photorate:create' %}"><button type="button" name="button">Запостить</button> </a>
        {% else %}
          <a id="a1" href="{% url 'users:log' %}"><button type="button" name="button">Запостить</button></a>
    {% endif %}


    </div>
     {% if not user.is_authenticated %}
    <div class="notlog">
        <h1>Вы не вошли в аккаунт!</h1>
        <p>Для использования сайта <a href="{% url 'users:log' %}">войдите в аккаунт</a></p>
{% endif %}
    </div>
     {% if user.is_authenticated %}
    <div class="photos">
        {% for i in post %}
      <div class="photo">
        <img src="{{ i.photo.url }}" alt="">
        <h3>{{ i.title }}</h3>
          </form>
        <p>{{ i.author }}</p>
  <div class="rating-buttons">
                    <button class="btn btn-sm btn-secondary rating-sum">Рейтинг:{{ i.get_sum_rating }}</button>
      <br>
      <button class="btn btn-sm btn-primary" data-article="{{ i.id }}" data-value="1">+</button>
                    <button class="btn btn-sm btn-secondary" data-article="{{ i.id }}" data-value="-1">-</button>
                </div>
    </div>
{% endfor %}
          <span class="top"></span>
  <span class="right"></span>
  <span class="bottom"></span>
  <span class="left"></span>
    </div>
    {% endif %}
    <script src="{% static 'photorate/js/js.js' %}"></script>
        <script src="{% static 'photorate/js/jaja.js' %}"></script>
    <div class="footer3">
    <h3>Обратная связь</h3>
  <a href="#">Вконтакте</a><br>
   <a href="#">Телеграмм</a>
<p>© 2024 Все права защищены.</p>
    </div>
</body>
</html>